---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Chaostreff Osnabrück e.V. - Site Notice">
  <div>
    <h1>Site Notice</h1>

    <p>
      Responsible for the content of these pages is the Chaostreff Osnabrück
      e.V..
    </p>

    <h4>E-Mail</h4>
    <div class="ms-6">
      <a href="mailto:info@chaostreff-osnabrueck.de">
        info@chaostreff-osnabrueck.de
      </a>
    </div>
    <h4>Internet site</h4>
    <div class="ms-6">
      <a href="https://chaostreff-osnabrueck.de/">
        https://chaostreff-osnabrueck.de/
      </a>
    </div>
    <h4>Address</h4>
    <div class="ms-6">
      Tim Klausmeyer
      <br />
      Chaostreff Osnabrück e.V.
      <br />
      c/o AStA der Universität Osnabrück
      <br />
      Alte Münze 12
      <br />
      49074 Osnabrück
    </div>

    <p>
      Further ways to contact us are listed on the start page of our website.
    </p>

    <p>
      The Chaostreff Osnabrück e.V. is registered in the register of
      accociations at the Amtsgericht Osnabrück under the number 201413.
    </p>

    <h1 class="mt-20">Legal Notices</h1>

    <h2>Diclaimer</h2>

    <p>
      This website contains links to third party websites (external links).
      These websites are the responsibilities of the respective operators. The
      content of the linked websites has been checked by us (the operator of the
      current website) on their first linkage with respect to possible statutory
      violation and we have not found any legal violation. We have no influence
      on the content of the linked pages. We cannot permanently control these
      externally linked pages with respect to statutory violation without
      concrete hints. On awareness of statutory violation these external links
      are removed immediately.
    </p>
  </div>
</Layout>
