---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Spenden" description="Spende an den Chaostreff Osnabrück e.V.">
  <div>
    <h1>Spenden</h1>

    <p>
      Wir freuen uns sehr, dass du uns finanziell unterstützen möchtest!
      Die Projekte des Chaostreff Osnabrück e.V. sind nur durch die
      Beiträge unser Mitglieder, Förderungen und Spenden möglich.
      Das
      <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">Schatzmeisterteam</a>
      hilft dir gerne, wenn du Fragen hast.
    </p>

    <p>
      <strong>Danke! &lt;3</strong>
    </p>

    <h4>Spenden via Banküberweisung</h4>
    <ul>
      <li>Frei wählbarer Beitrag</li>
      <li>Einmalig oder regelmäßig (Dauerauftrag)</li>
      <li>
        Die Kontodaten senden wir dir gerne{" "}
        <a
          href="mailto:schatzmeister@chaostreff-osnabrueck.de?subject=Anfrage%20Kontodaten%20zwecks%20Spende&body=Hallo,%0D%0Abitte%20sendet%20mir%20eure%20Bankverbindung%20zu.%0D%0AVielen%20Dank%20im%20Voraus!"
          >
            per E-Mail</a
          >{" "}
        zu.
      </li>
    </ul>

    <h4>Spenden via PayPal</h4>
    <ul>
      <li>Frei wählbarer Beitrag</li>
      <li>Einmalig oder regelmäßig</li>
      <li>
        Spende mit wenigen Klicks über{" "}
        <a
          href="https://www.paypal.com/donate?hosted_button_id=AKT457NDPPH4J"
          rel="noreferer"
          target="_blank"
        >
          PayPal</a
        >.
      </li>
      <li>
        <i>
          Information: PayPal behält 1,5 % des Spendenbetrages sowie 0,35 € pro
          Transaktion ein
        </i>
      </li>
    </ul>

    <h4>Fördermitglied werden</h4>
    <ul>
      <li>Frei wählbarer Beitrag (mindestens 60 € pro Jahr)</li>
      <li>
        Fülle den
        <a
          href="https://github.com/CTreffOS/Verwaltung/raw/master/Formulare/foerdermitgliedsantrag.pdf"
          rel="noreferer"
          target="_blank"
        >
          Antrag auf Fördermitgliedschaft</a
        >
        aus.
      </li>
      <li>Schicke uns deinen Antrag
        <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">per E-Mail</a>
        oder postalisch an die Adresse in Antrag.
      </li>
    </ul>
  </div>
</Layout>
