---
import GithubIcon from "../components/GithubIcon.astro";
import MastodonIcon from "../components/MastodonIcon.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="flex flex-col gap-3 py-8">
  <hr class="rainbow h-1" />
  <div
    class="flex flex-col text-xl sm:text-base sm:flex-row gap-x-8 gap-y-3 items-center justify-center"
  >
    <a
      href={new URL(`${lang}/site-notice`, Astro.url)}
      class="hover:underline transition"
    >
      {t("nav.site-notice")}
    </a>
    <a
      href={new URL(`${lang}/privacy-policy`, Astro.url)}
      class="hover:underline transition"
    >
      {t("nav.privacy-policy")}
    </a>
    <a
      href={new URL(`${lang}/faq`, Astro.url)}
      class="hover:underline transition">{t("nav.faq")}</a
    >
    <a
      href={new URL(`${lang}/contact`, Astro.url)}
      class="hover:underline transition">{t("nav.contact")}</a
    >
  </div>

  <div class="flex gap-6 justify-center">
    <a
      href="https://chaos.social/@chaostreff_osnabrueck"
      rel="me"
      target="_blank"
      class="transition hover:scale-110"
      aria-label="Mastodon"
      title="Mastodon"
    >
      <MastodonIcon />
    </a>
    <a
      href="https://github.com/CTreffOS"
      rel="noreferer"
      target="_blank"
      class="transition hover:scale-110"
      aria-label="GitHub"
      title="GitHub"
    >
      <GithubIcon />
    </a>
  </div>
  <div class="flex gap-6 justify-center text-xl sm:text-base">
    <a href={new URL(`de`, Astro.url)} class="hover:underline transition"
      >Deutsch</a
    >
    <a href={new URL(`en`, Astro.url)} class="hover:underline transition"
      >English</a
    >
  </div>
</footer>
