---
import { Image } from "astro:assets";
import CTreffLogo from "../assets/ctreffos-logo.png";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Navigation as Nav } from "@/components/Navigation.tsx";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a href={`/${lang}`}>
  <header class="flex flex-col items-center sm:items-start">
    <Image
      src={CTreffLogo}
      alt="Chaostreff Osnabrück Logo"
      class="invert-0 dark:invert"
      width={517}
      height={299}
      loading="eager"
    />
  </header>
</a>

<Nav lang={lang} />
