---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Impressum" description="Impressum">
  <div>
    <h1>Impressum</h1>

    <p>
      Verantwortlich für den Inhalt dieser Seiten ist der Chaostreff Osnabrück
      e.V.
    </p>

    <h4>E-Mail</h4>
    <div class="ms-6">
      <a href="mailto:info@chaostreff-osnabrueck.de">
        info@chaostreff-osnabrueck.de
      </a>
    </div>
    <h4>Internet-Präsenz</h4>
    <div class="ms-6">
      <a href="https://chaostreff-osnabrueck.de/">
        https://chaostreff-osnabrueck.de/
      </a>
    </div>
    <h4>Anschrift</h4>
    <div class="ms-6">
      Tim Klausmeyer
      <br />
      Chaostreff Osnabrück e.V.
      <br />
      c/o AStA der Universität Osnabrück
      <br />
      Alte Münze 12
      <br />
      49074 Osnabrück
    </div>

    <p>
      Weitere Kontaktmöglichkeiten finden sich unter <a href="/de/contact">Kontakt</a>.
    </p>

    <p>
      Der Chaostreff Osnabrück e.V. ist eingetragen im Vereinsregister des
      Amtsgerichts Osnabrück und wird unter der Vereinsregister-Nummer 201413
      geführt.
    </p>

    <h1 class="mt-20">Rechtliche Hinweise</h1>

    <h2>Haftungsbeschränkung</h2>

    <p>
      Diese Website enthält Verknüpfungen (Verlinkungen) zu Websites Dritter
      (externe Links). Diese Websites unterliegen der Haftung der jeweiligen
      Betreiber. Die Inhalte der verküpften Websites wurden bei der erstmaligen
      Verknüpfung von uns (dem Anbieter der aktuellen Website) auf etwaige
      Rechtsverstöße überprüft, und es waren keine Rechtsverstöße ersichtlich.
      Auf die Inhalte der verlinkten Seiten haben wir keinerlei Einfluss. Eine
      ständige Kontrolle dieser externen Links ist für den Anbieter ohne
      konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von
      Rechtsverstößen werden jedoch derartige externe Links unverzüglich
      gelöscht.
    </p>
  </div>
</Layout>
