---
import { getLangFromUrl } from "../i18n/utils";
import Head from "../components/Head.astro";
import "@/styles/globals.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang={lang}>
  <Head title={title} />
  <body>
    <div class="min-h-screen flex sm:justify-center px-3">
      <div class="flex flex-col min-h-screen">
        <Navigation />
        <main
          class="flex flex-col md:max-w-2xl row-start-2 prose dark:prose-invert"
        >
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body><style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
