---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Head from "../components/Head.astro";
import "../../base.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <Head title={title} />
  <body>
    <div class="min-h-screen flex justify-center">
      <div class="flex flex-col min-h-screen">
        <Navigation />
        <main
          class="flex flex-col md:max-w-2xl row-start-2 items-center sm:items-start prose prose-invert"
        >
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body><style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
